body {
    background-color: dimgray;
}

#header {
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    font-size: 72px;
}
#headerText {
    font-size: 72px;
}

#mainContainer {
    padding: 20px;
    justify-content: center;
    border-style: solid;
    border-color: #1DB954
}

#mainButton {
    background-color: #1DB954;
}
/* #header > h1 {
    background-color: blue;
} */